.idea/libraries/R_User_Library.xml
.idea/vcs.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/rewards-optimizer.iml
.idea/workspace.xml
__pycache__/config.cpython-37.pyc
venv/
database.ini
